* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(244, 245, 248);
    transition-duration: 0.3s;
}

body.dark-theme {
    background-color: #212121;
}

body.dark-theme div .panel, body.dark-theme h2{
    color: white;
}
body.dark-theme div .panel .box{
    background-color: #424242;
}
body.dark-theme div .panel .box, body.dark-theme select, body.dark-theme input, body.dark-theme .pokemon, body.dark-theme button{
    background-color: #424242;
    color: white;
}

.panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 10rem;
}

.box {
    width: 40%;
    margin: 15px 5px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.box:hover {
    border: 1px solid rgb(135, 175, 245);
}

.flex {
    display: flex;
    width: 100%;
}

.searchBar {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}

.searchBar:focus {
    outline: 1.5px solid rgb(135, 175, 245);
}

.searchBar:hover {
    border: 1px solid rgb(135, 175, 245);
}

.filter {
    width: 19%;
    height: 30px;
}

.list {
    padding: 0 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 175px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
}
.pokemon:hover {
    border: 1px solid rgb(135, 175, 245);
}

.type {
    margin: 0px 3px;
    color: rgb(121, 114, 114);
}

h2 {
    text-align: center;
}

button {
    border: none;
    cursor: pointer;
}

.detail {
    padding: 5rem 10rem;
    width: 100%;
    height: 500px;
}

.detail .title {
    color: white;
    text-align: center;
    margin: 35px 0;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

body.dark-theme .image {
    background-color: #474747;
}

.stats {
    margin: 0 15px;
}

body.dark-theme .stats {
    color: white;
}

.image {
    background-color: white;
    border-radius: 5px;
    width: 50%;
}
.image img {
    width: 100%;
}


